<html>
<head>
<style>body{font-family:sans-serif;color:#eee;background-color:black;background:black;max-width:600px;margin-right:auto;margin-left:auto;
code {background-color: #302d36;border: 1px solid #44434d;}div.highlighter-rouge {
    background-color: #302d36;
    padding: .75rem;
    margin-top: 0;
    margin-bottom: .75rem;
    overflow-x: auto;
    background-color: #f5f6fa;
    border-radius: 4px;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
}</style>
</head>
<body>

{{ content }}

</body>
</html>
